@model User
@{
    Layout = null;
}
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">@Html.Lang("Candy.Plugin.Admin.Profile")</h1>
    <small class="text-muted">@Html.Lang("Candy.Plugin.Admin.Profile.SubTitle")</small>
</div>
<div class="wrapper-md ng-scope" ng-controller="UserProfileCtrl">
    <form class="form-horizontal" action="@Url.Action("Profile", "User")" method="post">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group pull-in clearfix">
                    <div class="col-sm-6">
                        <label class="control-label">@Html.Lang("Candy.Plugin.Admin.Profile.Username")</label>
                        <input class="form-control" type="text" name="Username" placeholder="@Html.Lang("Candy.Plugin.Admin.Profile.Username")" value="@Model.UserName" disabled>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">@Html.Lang("Candy.Plugin.Admin.Profile.Nicename")</label>
                        <input class="form-control" type="text" name="Nicename" placeholder="@Html.Lang("Candy.Plugin.Admin.Profile.Nicename")" value="@Model.NiceName">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group pull-in clearfix">
                    <div class="col-sm-6">
                        <label class="control-label">@Html.Lang("Candy.Plugin.Admin.Profile.FirstName")</label>
                        <input class="form-control" type="text" name="FirstName" placeholder="@Html.Lang("Candy.Plugin.Admin.Profile.FirstName")" value="">
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">@Html.Lang("Candy.Plugin.Admin.Profile.LastName")</label>
                        <input class="form-control" type="text" name="LastName" placeholder="@Html.Lang("Candy.Plugin.Admin.Profile.LastName")" value="">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group pull-in clearfix">
                    <div class="col-sm-6">
                        <label class="control-label">@Html.Lang("Candy.Plugin.Admin.Profile.Email")</label>
                        <input class="form-control" type="text" name="Email" placeholder="@Html.Lang("Candy.Plugin.Admin.Profile.Email")" va value="">
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">@Html.Lang("Candy.Plugin.Admin.Profile.WebSite")</label>
                        <input class="form-control" type="text" name="WebSite" placeholder="@Html.Lang("Candy.Plugin.Admin.Profile.WebSite")" value="">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group pull-in clearfix">
                    <div class="col-sm-12">
                        <label class="control-label">@Html.Lang("Candy.Plugin.Admin.Profile.Description")</label>
                        <textarea class="form-control" name="Description" placeholder="@Html.Lang("Candy.Plugin.Admin.Profile.Description")"></textarea>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-left bg-light lter">
                <button type="submit" class="btn btn-success">保存设置</button>
            </div>
        </div>
    </form>
</div>