@model SiteSettingModel
@{
    Layout = null;
}
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">@Html.Lang("Candy.Plugin.Admin.Setting.BaseSetting")</h1>
    <small class="text-muted">@Html.Lang("Candy.Plugin.Admin.Setting.BaseSettingDescription")</small>
</div>
<div class="wrapper-md ng-scope" ng-controller="BaseSettingsCtrl">
    <form class="form-horizontal" action="@Url.Action("Base", "Settings")" method="post">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group pull-in clearfix">
                    <div class="col-sm-6">
                        <label class="control-label">网站标题</label>
                        <input class="form-control" type="text" name="SiteName" placeholder="网站标题" ng-model="entity.SiteSettings.SiteName">
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">副标题</label>
                        <input class="form-control" type="text" name="SiteDescription" placeholder="副标题" ng-model="entity.SiteSettings.SiteDescription">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group pull-in clearfix">
                    <div class="col-sm-6">
                        <label class="control-label">网站地址</label>
                        <div class="input-group">
                            <span class="input-group-addon">http://</span>
                            <input class="form-control" type="text" name="SiteUrl" placeholder="网站地址" ng-model="entity.SiteSettings.SiteUrl">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">备案号</label>
                        <input class="form-control" type="text" name="ICPNo" placeholder="备案号" ng-model="entity.SiteSettings.ICPNo">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group pull-in clearfix">
                    <div class="col-sm-12">
                        <label class="control-label">网站关键字</label>
                        <textarea class="form-control" name="Keywords" ng-model="entity.SiteSettings.Keywords"></textarea>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group pull-in clearfix">
                    <div class="col-sm-6">
                        <label class="control-label">时区</label>
                        <select class="form-control" name="TimeZone" ng-model="entity.SiteSettings.TimeZone">
                            @foreach (var timeZone in TimeZoneInfo.GetSystemTimeZones())
                            {
                                <option value="@timeZone.Id">@timeZone.DisplayName</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">语言</label>
                        <select class="form-control" name="Language" ng-model="entity.SiteSettings.Language">
                            @if (Model.Cultures.Any())
                            {
                                foreach (var culture in Model.Cultures)
                                {
                                    <option value="@culture.Name">@culture.DisplayName</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group pull-in clearfix">
                    <div class="col-sm-6">
                        <label class="control-label">日期格式</label>
                        <select class="form-control" name="DateFormat" ng-model="entity.SiteSettings.DateFormat">
                            <option value="yyyy年MM月dd日">@DateTime.Now.ToString("yyyy年MM月dd日")</option>
                            <option value="yyyy-MM-dd">@DateTime.Now.ToString("yyyy-MM-dd")</option>
                            <option value="MM/dd/yyyy">@DateTime.Now.ToString("MM/dd/yyyy")</option>
                            <option value="dd/MM/yyyy">@DateTime.Now.ToString("dd/MM/yyyy")</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">时间格式</label>
                        <select class="form-control" name="TimeFormat" ng-model="entity.SiteSettings.TimeFormat">
                            <option value="tt hh:mm">@DateTime.Now.ToString("tt hh:mm")</option>
                            <option value="hh:mm tt">@DateTime.Now.ToString("hh:mm tt")</option>
                            <option value="HH:mm">@DateTime.Now.ToString("HH:mm")</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group pull-in clearfix">
                    <div class="col-sm-6">
                        <label class="control-label">管理员邮箱地址</label>
                        <input class="form-control" type="text" name="AdminEmailAddress" placeholder="管理员邮箱地址" ng-model="entity.SiteSettings.AdminEmailAddress">
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">消息邮箱地址</label>
                        <input class="form-control" type="text" name="NotificationEmailAddress" placeholder="消息邮箱地址" ng-model="entity.SiteSettings.NotificationEmailAddress">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group pull-in clearfix">
                    <div class="col-sm-6">
                        <label class="control-label">SMTP 服务器</label>
                        <input class="form-control" type="text" name="SMTPServer" placeholder="SMTP 服务器" ng-model="entity.SiteSettings.SMTPServer">
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">SMTP 端口</label>
                        <input class="form-control" type="text" name="SMTPProt" placeholder="SMTP 端口" ng-model="entity.SiteSettings.SMTPProt">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group pull-in clearfix">
                    <div class="col-sm-6">
                        <label class="control-label">SMTP 用户名</label>
                        <input class="form-control" type="text" name="SMTPUserName" placeholder="SMTP 用户名" ng-model="entity.SiteSettings.SMTPUserName">
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">SMTP 密码</label>
                        <input class="form-control" type="text" name="SMTPPassword" placeholder="SMTP 密码" ng-model="entity.SiteSettings.SMTPPassword">
                    </div>
                </div>
            </div>
            <div class="panel-footer text-left bg-light lter">
                <button type="submit" class="btn btn-success">保存设置</button>
            </div>
        </div>
    </form>
</div>