<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewBag.Title</title>
    @Style("~/Content/css/style.css")
</head>
<body>
    <div id="header">
        <div class="container">
            <div class="logo">
                <a href="#">
                    <img src="@Url.Content("~/Themes/Candy.Theme.Default/Content/img/logo.png")" />
                </a>
            </div>
            <div class="main_nav">
                <ul>
                    <li>
                        <a href="<?php echo site_url()?>">社区首页</a>
                    </li>
                    <li>
                        <a href="<?php echo site_url('section')?>">版块列表</a>
                    </li>
                    <li>
                        <a href="<?php echo site_url('user')?>">所有会员</a>
                    </li>
                    <li>
                        <a href="<?php echo site_url('forum/add')?>">发表话题</a>
                    </li>
                </ul>
            </div>
            <div class="search_box">
                <form action="http://www.google.com/search" method="get" target="_blank">
                    <input class="search_query" data-domain="" id="q" maxlength="40" name="q" placeholder="输入关键字并回车" type="text" />
                    <input type="hidden" name="ie" value="UTF-8" />
                    <input type="hidden" name="oe" value="UTF-8" />
                    <input type="hidden" name="hl" value="zh-CN" />
                    <input type="hidden" name="domains" value="<?php echo $this->myclass->get_domain(site_url())?>" />
                    <input type="hidden" name="sitesearch" value="<?php echo $this->myclass->get_domain(site_url())?>" />
                </form>
            </div>
            <div class="profile_nav">
                <ul>
                    <li>
                        <a href="/User/Register"><i class="icon-user-1"></i>注册</a>
                    </li>
                    <li>
                        <a href="/User/Signin"><i class="icon-login-1"></i>登入</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div id="wrap">
        <div class="container">
            <div id="main">
                <div class="top_into">
                    <a href="<?php echo site_url()?>" title="<?php echo $settings['site_name']; ?>">
                        <img src="@Url.Content("~/Themes/Candy.Theme.Default/Content/img/banner.png")" alt="">
                    </a>
                </div>
                <div class="subside">
                    <div class="widget" id="hotforums">
                        <h3 class="title">热门话题</h3>
                        <ul>
                            <li>
                                <a href="#" title="<?php echo $v['title']; ?>">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="<?php echo $v['title']; ?>">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="<?php echo $v['title']; ?>">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="<?php echo $v['title']; ?>">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="<?php echo $v['title']; ?>">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="<?php echo $v['title']; ?>">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="<?php echo $v['title']; ?>">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="<?php echo $v['title']; ?>">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="<?php echo $v['title']; ?>">测试文章标题</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget" id="newtopic">
                        <h3 class="title">最新话题</h3>
                        <ul>
                            <li>
                                <a href="#" title="<?php echo $v['title']; ?>">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="<?php echo $v['title']; ?>">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="<?php echo $v['title']; ?>">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="<?php echo $v['title']; ?>">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="<?php echo $v['title']; ?>">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="<?php echo $v['title']; ?>">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="<?php echo $v['title']; ?>">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="<?php echo $v['title']; ?>">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="<?php echo $v['title']; ?>">测试文章标题</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget" id="viewforums">
                        <h3 class="title">阅读排行</h3>
                        <ul>
                            <li>
                                <a href="#" title="测试文章标题">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="测试文章标题">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="测试文章标题">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="测试文章标题">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="测试文章标题">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="测试文章标题">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="测试文章标题">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="测试文章标题">测试文章标题</a>
                            </li>
                            <li>
                                <a href="#" title="测试文章标题">测试文章标题</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget" id="newtags">
                        <h3 class="title">最新标签</h3>
                        <div class="tagclud">
                            <a href="#">标签</a>
                            <a href="#">标签</a>
                            <a href="#">标签</a>
                            <a href="#">标签</a>
                            <a href="#">标签</a>
                            <a href="#">标签</a>
                            <a href="#">标签</a>
                            <a href="#">标签</a>
                            <a href="#">标签</a>
                            <a href="#">标签</a>
                            <a href="#">标签</a>
                        </div>
                    </div>
                </div>
                <div class="topics">
                    <div class="topic_list">
                        <ul>
                            @for (var i = 0; i < 20; i++)
                            {
                                <li class="topic">
                                    <div class="userinfo">
                                        <div class="author_avatar">
                                            <a href="#" class="profile_link" title="Hubert">
                                                <img class="medium_avatar" src="@Url.Content("~/Themes/Candy.Theme.Default/Content/img/default.jpg")" />
                                            </a>
                                        </div>
                                        <div class="user_meta">
                                            <a href="#" title="Hubert"><strong>Hubert</strong></a>
                                            <p>这是什么内容</p>
                                        </div>
                                    </div>
                                    <div class="topic_info">
                                        <div class="topic_title">
                                            <h2 class="title">
                                                <span class="label label-info">置顶</span>
                                                <a href="#">这是文章标题</a>
                                            </h2>
                                            <div class="topic_comments">
                                                12
                                            </div>
                                        </div>
                                        <div class="topic_meta">
                                            <a href="#" class="node">编程开发</a>
                                            <span class='muted'>•</span>
                                            <a href="#" title="Hubert">Hubert</a>
                                            <span class='muted'>•</span>
                                            <span>2014-01-31</span>
                                            <span class='muted'>•</span>
                                            最后回复来自<a href="#" title="admin">admin</a>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="pagination">
                        <ul></ul>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <div class="widget" id="userinformation">
                    <div class="user_avatar">
                        <a href="#" title="">
                            <img alt="admin large avatar" class="large_avatar" src="@Url.Content("~/Themes/Candy.Theme.Default/Content/img/avatar_large.gif")" />
                            <span class="repic">修改头像</span>
                        </a>
                    </div>
                    <ul class="userinfo">
                        <li>
                            <a href="#" title="Hubert"><i class="icon-user-1"></i>Hubert</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-star-1"></i>关注<span class="new">542</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-heart-1"></i>收藏<span class="new">35</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-comment-1"></i>站内信息<span class="new">12</span></a>
                        </li>
                    </ul>
                    @*
                        <div class="nologin">
                            <div class="loginorreg">
                                <a href="<?php echo site_url('user/reg');?>" class="btn">注册</a>
                                <a href="<?php echo site_url('user/login');?>" class="btn">登入</a>
                            </div>
                        </div>
                    *@
                </div>
                <div class="widget" id="status">
                    <h3 class="title">最新数据</h3>
                    <ul>
                        <li>
                            <span>最新会员：</span>
                            <strong>Hubert</strong>
                        </li>
                        <li>
                            <span>会员数量：</span>
                            <strong>1235</strong>
                        </li>
                        <li>
                            <span>今日话题：</span>
                            <strong>765</strong>
                        </li>
                        <li>
                            <span>话题总数：</span>
                            <strong>365821</strong>
                        </li>
                        <li>
                            <span>会员回复：</span>
                            <strong>123548574</strong>
                        </li>
                    </ul>
                </div>
                <div class="widget" id="newmember">
                    <h3 class="title">最新会员</h3>
                    <ul>
                        <li>
                            <a href="#" class="profile_link" title="Hubert">
                                <img alt="Hubert medium avatar" class="medium_avatar" src="@Url.Content("~/Themes/Candy.Theme.Default/Content/img/default.jpg")" />
                            </a>
                        </li>
                        <li>
                            <a href="#" class="profile_link" title="Hubert">
                                <img alt="Hubert medium avatar" class="medium_avatar" src="@Url.Content("~/Themes/Candy.Theme.Default/Content/img/default.jpg")" />
                            </a>
                        </li>
                        <li>
                            <a href="#" class="profile_link" title="Hubert">
                                <img alt="Hubert medium avatar" class="medium_avatar" src="@Url.Content("~/Themes/Candy.Theme.Default/Content/img/default.jpg")" />
                            </a>
                        </li>
                        <li>
                            <a href="#" class="profile_link" title="Hubert">
                                <img alt="Hubert medium avatar" class="medium_avatar" src="@Url.Content("~/Themes/Candy.Theme.Default/Content/img/default.jpg")" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="widget" id="links">
                    <h3 class="title">友情链接</h3>
                    <ul>
                        <li>
                            <a href="#" title="链接">链接</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div id='footer'>
        <div class='container' id='footer-main'>
            <div class='copywrite'>
                @RenderBody()
                <p>&copy; 2013 ifront.me Inc, Some rights reserved.</p>
            </div>
        </div>
    </div>
    @Script("/Content/js/jquery.min.js")
</body>
</html>